form {
  width: 75%;
  display: flex;
  justify-content: center;
}
.form-content{
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.input-content{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.big {
  padding: 15px;
}

button {
  background-color: deepskyblue;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding: 15px 32px;
  width: 200px;
  border-radius: 12px;
}
